@model IEnumerable<Keys.Models.ProductSold>

@{
    ViewBag.Title = "Index";
}
<br/>
<br />
<h3>Sales Details</h3>
<a href="#" id="AddNew" class="btn btn-primary" onclick="AddNew()">Add New</a>
<br/>
<br/>
@*Create A popup modal*@
<div class="ui modal" id="MyModal" style="height:448px;width:60%;">
    <div class="header text-center">
        Customer Detail
    </div>
    <h4 class="text-info" id="title"></h4>
    <div class="content">
        <form id="form">

            <p>@Html.Action("Create", "Sales")</p>

            <div class="action text-right">
                <div class="two fluid ui inverted buttons">
                    <a href="#" class="ui approve green button" id="SaveRecord">Save</a>
                    <a href="#" class="ui cancel red inverted button" id="cancel" onclick="SaveCancel()">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
@*Delete modal*@
<div class="ui modal" id="DeleteConfirm" style="height:270px;width:60%;">
    <div class="header">
        <h2 class="text-primary text-center">Delete Sales Record</h2>
    </div>
    <h4 class="text-info">Are you sure delete this record?</h4>
    <div class="content">
        <div class="action text-right">
            <div class="two fluid ui inverted buttons">
                <a href="#" class="ui approve green button" id="confirmDelete" onclick="ConfirmDelete()">Confirm</a>
                <a href="#" class="ui cancel red inverted button" id="cancel" onclick="DeleteCancel()">Cancel</a>
            </div>
        </div>

    </div>
</div>



<table class="ui definition  table">
    @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.DateSold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stroe.Name)
            </th>
            <th></th>
        </tr>*@
    <tr>
        <th>Customer Name</th>
        <th>Product Name</th>
        <th>Store Name</th>
        <th>Date Sold</th>
        <th>Actione(Edit)</th>
        <th colspan="2">Action(Delete)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stroe.Name)
            </td>
            <td>
                @item.DateSold.ToString("yyyy-MM-dd")
            </td>
            <td>
                <a href='#' class="ui orange  button" onclick="Edit(@item.Id)"><i class='edit icon'></i>Edit</a>
            </td>
            <td>
                <a href='#' class="ui red button" onclick="Delete(@item.Id)"><i class="trash outline icon"></i>Delete</a>
            </td>
            <td>
                <input type="hidden" id="SalesID" name="Id" />
            </td>
        </tr>
    }

</table>


@section scripts{
    <script>
        function AddNew() {
            $("#MyModal").modal("show");
            $("#title").html("Add new sales record.")
            $("footer").hide();
            $("#navbar").hide();
        }


        function SaveCancel() {
            $("#MyModal").modal("hide")
            parent.location.reload();
        }
        function DeleteCancel() {
            $("#DeleteConfirm").modal("hide")
        }
        function Validation() {
            if ($("#ProductId").val().length == 0 || $("#CustomerId").val().length == 0 || $("#StoreId").val() == 0 ) {
                alert("Please input all the sales detail!")
                return false;
            }
            else {
                return true;
            }
        }
        $("#SaveRecord").click(function () {
            if (Validation()) {
                var data = $("#form").serialize();
                var id = $("#SalesID").val();
                var url = "";
                if ($("#SalesID").val() > 0) {
                    url = "/Sales/Edit?Id=" + id;
                    console.log("update....")
                }
                else {
                    url = "/Sales/Create"
                }
                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function (result) {
                        alert("Add Success...");
                        window.location = "/Sales/index";
                        $("#MyModal").hide();
                    },
                    error: function (error) {
                        alert(error);
                    }
                });
            }
            else {
                return;
            }
        })


        function Delete(Id) {
            $("#SalesID").val(Id);
            $("#DeleteConfirm").modal("show");
        }



        function ConfirmDelete() {
            var CusId = $("#SalesID").val();
            $.ajax({
                type: "GET",
                url: "/Sales/DeleteConfirmed?id=" + CusId,
                success: function (result) {
                    alert("Delete Sales Record Success.");
                    $("#DeleteConfirm").modal("hide");
                    window.location = "/Sales/index";
                },
            })
        }

        function Edit(saleId) {
            var url = "/Sales/GetSalesById?salesId=" + saleId;
            $("#SalesID").val(saleId);
            $("#title").html("Update sales record");
            $("#MyModal").modal("show");
            $("footer").hide();
            console.info(saleId)
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    console.info(data)
                    $("#ProductId").val(data.ProductId);
                    $("#CustomerId").val(data.CustomerId);
                    $("#StoreId").val(data.StoreId);
                  
                },
                
            });

         
        }

    </script>
}
